header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 53, 53);
    width: 100vw;
    margin-left: 0;
    /* Title color */
    color: rgba(0, 46, 114, 0.973);
    max-width: 100%;
}

nav {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    background-color: brown;
    
}


/* nav colors */
nav a {
    text-decoration: none;
    color: beige;
    font-size: xx-large;

    display: block;
    padding-bottom: 1rem;
    padding-top: 5px;
}

nav a:hover {
    color: rgb(127, 127, 253);
    transition: 50ms;
}

nav a.visited {
    color: beige;
}


/* body styles */
body {
    margin: 0;
    background-color: rgb(255, 216, 185);

}